---
layout: default
---

<header class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h2 class="subtitle has-text-centered">A stylish file manager</h2>
      <figure class="image">
        <img src="assets/images/hero.png">
      </figure>

      <div class="block has-text-centered">
        <a class="button is-medium is-primary is-inverted" href="{{ site.url }}{{ site.baseurl }}/quick-start/">
          Get Started
        </a>
        <a class="button is-medium is-primary is-inverted" href="https://github.com/hacdias/filemanager/">
          <span class="icon is-medium">
            <i class="fa fa-github"></i>
          </span>
          <span>Star</span>
        </a>
      </div>
    </div>
  </div>
</header>

<!-- 
<section class="hero is-info is-ocean">
  <div class="hero-body">
    <div class="container">
      <div class="level">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Watchers</p>
            <p id="watchers-count" class="title">24</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Stars</p>
            <p id="stars-count" class="title">811</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Forks</p>
            <p id="forks-count" class="title">46</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h2 class="title is-2 is-spaced has-text-centered">Features</h2>
    <div class="columns is-multiline">
      <div class="column is-one-third">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ante lorem, dignissim id laoreet eget, interdum vel orci. Sed sapien turpis, maximus sit amet condimentum nec, hendrerit non dui. Aenean a efficitur ligula, in laoreet odio. Phasellus ut lectus efficitur, maximus nisl quis, vestibulum nulla.
      </div>
      <div class="column is-one-third">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ante lorem, dignissim id laoreet eget, interdum vel orci. Sed sapien turpis, maximus sit amet condimentum nec, hendrerit non dui. Aenean a efficitur ligula, in laoreet odio. Phasellus ut lectus efficitur, maximus nisl quis, vestibulum nulla.
      </div>
      <div class="column is-one-third">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ante lorem, dignissim id laoreet eget, interdum vel orci. Sed sapien turpis, maximus sit amet condimentum nec, hendrerit non dui. Aenean a efficitur ligula, in laoreet odio. Phasellus ut lectus efficitur, maximus nisl quis, vestibulum nulla.
      </div>
      <div class="column is-one-third">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ante lorem, dignissim id laoreet eget, interdum vel orci. Sed sapien turpis, maximus sit amet condimentum nec, hendrerit non dui. Aenean a efficitur ligula, in laoreet odio. Phasellus ut lectus efficitur, maximus nisl quis, vestibulum nulla.
      </div>
      <div class="column is-one-third">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ante lorem, dignissim id laoreet eget, interdum vel orci. Sed sapien turpis, maximus sit amet condimentum nec, hendrerit non dui. Aenean a efficitur ligula, in laoreet odio. Phasellus ut lectus efficitur, maximus nisl quis, vestibulum nulla.
      </div>
      <div class="column is-one-third">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ante lorem, dignissim id laoreet eget, interdum vel orci. Sed sapien turpis, maximus sit amet condimentum nec, hendrerit non dui. Aenean a efficitur ligula, in laoreet odio. Phasellus ut lectus efficitur, maximus nisl quis, vestibulum nulla.
      </div>
    </div>
  </div>
</section>
-->