---
layout: default
---

<article>
  <header class="hero is-info">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-1 is-spaced">{{ page.title | escape }}</h1>
      </div>
    </div>
  </header>

  <div class="section">
    <div class="container">
      <div class="columns">
          <div class="column is-3">
            <aside class="menu">
              <p class="menu-label">
                Documentation
              </p>
              <ul class="menu-list">
                <li>
                  <a href="{{ "/getting-started/" | absolute_url }}">Getting Started</a>
                  <ul>
                    <li><a href="{{ "/getting-started/#quick-start" | absolute_url }}">Quick start</a></li>
                    <li><a href="{{ "/getting-started/#installation-script" | absolute_url }}">Script</a></li>
                    <li><a href="{{ "/getting-started/#caddy" | absolute_url }}">Caddy</a></li>
                    <li><a href="{{ "/getting-started/#docker" | absolute_url }}">Docker</a></li>
                  </ul>
                </li>
                <li><a href="{{ "/configuration/" | absolute_url }}">Configuration</a></li>
              </ul>
            </aside>
          </div>
          <div class="column content">
            {{ content }}
          </div>
        </div>
    </div>
  </div>
</article>
